<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="resource/css/style.css">
</head>

<body>

    <div class="register-form">
        <h1>Register</h1>
        <form action="/register" method="post">
            <label for="user">user</label>
            <input type="text" name="user" required>

            <label for="name">Full name</label>
            <input type="text" name="name" required>

            <label for="rol">Rol</label>
            <select name="rol" id="rol" class="select-css">
                <option value="taller" selected>Taller</option>
                <option value="aseguradora">Aseguradora</option>
            </select>

            <label for="">password</label>
            <input type="password" name="pass" required>

            <div style="display: inline;">
                <a href="/login" class="btn-cancel">Cancel</a><input type="submit" value="Save" class="btn-save">
            </div>

        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if (typeof alert !="undefined" ) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                // Si la alerta es de éxito, redirige al login
                if ('<%= alertIcon %>' === 'success') {
                    window.location = '/login';
                } else {
                    // Si la alerta es de error, permanece en register
                    window.location = '/register';
                }
            });
        </script>
        <% } %>

</body>

</html>